<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Joseph Tello</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                <a class="nav-link" href="#about">Sobre Mí</a>
                <a class="nav-link" href="#projects">Proyectos</a>
                <a class="nav-link" href="#contacto">Contacto</a>
            </div>
        </div>
        <a href="https://www.linkedin.com/in/joseph-t-9aa23a2b6/" target="_blank">
            <img src="/images/Imagen9.png" alt="LinkedIn" style="width: 40px; height: auto; margin-right: 30px; border-radius: 20%;">
        </a>
        <a href="https://github.com/Joseph2006t/" target="_blank">
            <img src="/images/GithubLogo.png" alt="Github" style="width: 40px; height: auto; margin-right: 30px; border-radius: 50%;">
        </a>
    </div>
</nav>
